.game {
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 150px;
  align-items: center;
  flex-wrap: wrap;
}

.statistics {
  width: 500px;  
}

.board {
  width: 500px;  
}

.btn {
  width: 100%;
  margin-top: 20px;
}

.empty, .empty:hover {
  background: #fff;
  box-shadow: none;
  border: 1px solid rgba(144, 97, 249, .5);
  color: rgba(22, 0, 69, 0.5);
}

.active {
  background-color: rgba(144, 97, 249, .5);
  border-radius: 5px;
}

.board {
  border: 2px solid #000;
  height: 500px;
}

.round-info {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 20px 0;
  color: #4B5563;
  text-align: center;
}

.winner-info {
  font-size: 1.5rem;
  font-weight: bold;
  color: #10B981;
  margin: 20px 0;
  text-align: center;
  padding: 10px;
  border-radius: 8px;  
  /* position: absolute; */
}

.info {
  background: #F9FAFB;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0px;  
}
