.contacts_form {
    display: flex;
    border: 1px solid #9e9e9e;
    border-radius: 12px;
    -webkit-box-shadow: 10px 10px 24px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 24px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 24px -14px rgba(0, 0, 0, 0.75);
    padding: 50px 20px;
}

.form-group {
    margin-top: 10px;
}

.form_contacts {
    width: 400px;
}

.form-group:last-child {
    display: flex;
    justify-content: end;
}